<h1 class="section-title">PROJECTS</h1>
<div class="proyectos">

  <div class="proyecto">
    <figure class="proyecto__icon">
      <img src="https://quintaneishon.github.io/trillo/img/logo.png" alt="trillo-logo">
    </figure>
    <div class="proyecto__box">
      <h4 class="proyecto__nombre">Nombre del proyecto</h4>
      <p class="proyecto__description">
        Proyecto desarooladoo con react y firebase.
      </p>
      <button class="btn-inline">See more <span>&rarr;</span> </button>
    </div>
  </div>
  <div class="proyecto">
    <figure class="proyecto__icon">
      <img src="https://quintaneishon.github.io/trillo/img/logo.png" alt="trillo-logo">
    </figure>
    <div class="proyecto__box">
      <h4 class="proyecto__nombre">Nombre del proyecto</h4>
      <p class="proyecto__description">
        Proyecto desarooladoo con react y firebase.
      </p>
      <button class="btn-inline">See more <span>&rarr;</span> </button>
    </div>
  </div>
  <div class="proyecto">
    <figure class="proyecto__icon">
      <img src="https://quintaneishon.github.io/trillo/img/logo.png" alt="trillo-logo">
    </figure>
    <div class="proyecto__box">
      <h4 class="proyecto__nombre">Nombre del proyecto</h4>
      <p class="proyecto__description">
        Proyecto desarooladoo con react y firebase.
      </p>
      <button class="btn-inline">See more <span>&rarr;</span> </button>
    </div>
  </div>
  <div class="proyecto">
    <figure class="proyecto__icon">
      <img src="https://quintaneishon.github.io/trillo/img/logo.png" alt="trillo-logo">
    </figure>
    <div class="proyecto__box">
      <h4 class="proyecto__nombre">Nombre del proyecto</h4>
      <p class="proyecto__description">
        Proyecto desarooladoo con react y firebase.
      </p>
      <button class="btn-inline">See more <span>&rarr;</span> </button>
    </div>
  </div>
  <div class="proyecto">
    <figure class="proyecto__icon">
      <img src="https://quintaneishon.github.io/trillo/img/logo.png" alt="trillo-logo">
    </figure>
    <div class="proyecto__box">
      <h4 class="proyecto__nombre">Nombre del proyecto</h4>
      <p class="proyecto__description">
        Proyecto desarooladoo con react y firebase.
      </p>
      <button class="btn-inline">See more <span>&rarr;</span> </button>
    </div>
  </div>
  <div class="proyecto">
    <figure class="proyecto__icon">
      <img src="https://quintaneishon.github.io/trillo/img/logo.png" alt="trillo-logo">
    </figure>
    <div class="proyecto__box">
      <h4 class="proyecto__nombre">Nombre del proyecto</h4>
      <p class="proyecto__description">
        Proyecto desarooladoo con react y firebase.
      </p>
      <button class="btn-inline">See more <span>&rarr;</span> </button>
    </div>
  </div>
</div>
