<h1 class="section-title">ABOUT ME</h1>
<div class="about">
  <div class="about__box">
    <p class="about__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iure magnam soluta tempora! Beatae culpa cumque enim eum ipsa labore molestias odio pariatur quae sit temporibus, ut. Quae repudiandae, saepe.
      Lorrem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iure magnam soluta tempora! Beatae culpa cumque enim eum ipsa labore molestias odio pariatur quae sit temporibus, ut. Quae repudiandae, saepe.
      Lorrem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iure magnam soluta tempora! Beatae culpa cumque enim eum ipsa labore molestias odio pariatur quae sit temporibus, ut. Quae repudiandae, saepe.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, deleniti dolorum enim impedit quibusdam quis quo reiciendis tempora temporibus. Accusantium architecto deserunt, dolorem harum ipsam necessitatibus reprehenderit sapiente sed temporibus?
    </p>
    <figure class="about__shape">
      <img src="https://drive.google.com/uc?id=1egdL3YLLUx3gDgX05Y1uSm5Is0BbUPxv" alt="person on a tour" class="about__img">
    </figure>
  </div>
  <button class="btn-primary btn">
    DOWNLOAD MY CV
  </button>
</div>
