// COLORES
$color-primary: #a7e9af;
$color-primary-dark: #75b79e;

$color-secondary: #6a8caf;
$color-light: #eef9bf;

$color-grey-light-1: #f9f7f6 ;
$color-grey-light-2: #aaa;

$color-grey-dark-2: #5A4139;
$color-grey-dark-1: #74554C;

// FUENTES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
