<h1 class="section-title">technologies</h1>
<div class="lenguajes">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
  <img src="https://drive.google.com/uc?id=18_ia4AgsUyTaVKkg2xJKHqpo-_vi9GLZ" alt="icon" class="gallery__img">
</div>
