<h1 class="section-title">CONTACT ME</h1>
<div class="contact">
  <div class="email">
    <div class="email__form">
      <form class="form">
        <div class="u-margin-bottom-medium">
          <h2 class="heading-secondary">
            Get in touch!
          </h2>
        </div>
        <div class="form__group">
          <input type="text" class="form__input" placeholder="Your Name" id="name" required />
          <label for="name" class="form__label">Full name</label>
        </div>
        <div class="form__group">
          <input type="email" class="form__input" placeholder="Your Email" id="email" required />
          <label for="email" class="form__label">Email address</label>
        </div>
        <div class="form__group">
          <textarea class="form__input" placeholder="Your Message" id="content" required></textarea>
          <label for="content" class="form__label">Message</label>
        </div>
        <div class="form__group">
          <button class="btn btn-primary">SEND MESSAGE</button>
        </div>
      </form>
    </div>
  </div>

  <div class="contactos">
    <div class="contacto">
      <svg class="icon contacto-icon" (click)="goToLink('https://www.facebook.com/ajitzi.quintana')">
        <use xlink:href="assets/sprite.svg#icon-facebook"></use>
      </svg>
    </div>
  </div>

  <div class="marca">
    © 2020. Design by Ajitzi Quintana
  </div>
</div>
