<h1 class="section-title">EXPERIENCE</h1>
<div class="trabajo__container">
  <div class="trabajo__item">
    <h4 class="trabajo__item__ano">Abril 2019 - Enero 2020</h4>
    <div class="trabajo__item__puesto-lugar">
      <h4 class="color-primario-dark">DC Mayorista</h4>
      <p>Analista programador</p>
    </div>
  </div><div class="trabajo__item">
    <h4 class="trabajo__item__ano">Abril 2019 - Enero 2020</h4>
    <div class="trabajo__item__puesto-lugar">
      <h4 class="color-primario-dark">DC Mayorista</h4>
      <p>Analista programador</p>
    </div>
  </div>

</div>
