<h1 class="section-title" style="margin-top: 10rem">HOBBIES
  <span class="border"></span>
</h1>
<div class="gallery">
  <figure class="gallery__item gallery__item--1">
    <img src="https://drive.google.com/uc?id=1Uig4_nrbqmbLTK6ohozlBcuYlZ1Cprbc" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      taekwondo
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--2">
    <img src="https://drive.google.com/uc?id=11lT9ZabGADJhnvdym8n5vdy-ghYsbqXt" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      draw
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--3">
    <img src="https://drive.google.com/uc?id=1RyixhhXmFmmDQj421vEio2V2TX_tvqdy" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      work out
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--4">
    <img src="https://drive.google.com/uc?id=1tnc7oMlY9nsrjE5r4KjIEHPNLVZFoRlz" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      develop
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--5">
    <img src="https://drive.google.com/uc?id=156qDI3Il6YcOO2iytUlAj7VHOBwEj_BC" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      travel
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <img src="https://drive.google.com/uc?id=1NxnNdWe0n4pqlfruqCyEryDtPdLYopQT" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      eat
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--7">
    <img src="https://drive.google.com/uc?id=1MU8WGHwcW9GXWuXegiQnWza45yN_ZHhz" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      play videogames
    </figcaption>
  </figure>
  <figure class="gallery__item gallery__item--8">
    <img src="https://drive.google.com/uc?id=1m5Toni8fqMsOH2lXOXghcezjWBnHdSN4" alt="tae" class="gallery__img">
    <figcaption class='gallery__caption'>
      design
    </figcaption>
  </figure>
</div>
